.card {
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: first baseline;
}
.card img {
  width: 100%;
  height: 100%;
}

.card video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card h3 {
  font-size: clamp(20px, 1.6667vw, 32px);
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 1.2;
  margin-top: 10px;
}

.card p {
  font-size: clamp(15px, 0.84167vw, 16px);
  letter-spacing: -0.03em;
}
